app/templates/form.jade
extends ./layout.jade

block content
  .wrap
    header
      a.logotype(href='#', tabindex='-1')
      .header-gradient
        .container
          .back-button-box
            a.button-back.header-button(href='#', tabindex='1') Назад
          .vizzard-box
            .converts
              .convert-one
              .convert-two
              .convert-three
            .circles
              .circle-filled.active.left
              .progress-line.active.left
                span.progress(style='width: 50%')
              .circle
              .progress-line.right
                span.progress
              .circle-filled.right
            .text
              p.choose Выберите фотографии
              p.signature Подпишите
              p.complete Почти закончили!
          .forward-button-box
            a.button-next.header-button(href='#', tabindex='2') Продолжить
            // <a class="button-progress-txt header-button" href="#" tabindex="2">Выбрано 5/10</a>
          .clearfix
    .content
      .container
        .form-container
          form(action='', method='POST')
            .form-area.form-user
              .form-icon.icon-user
              label Как вас зовут?
              .clearfix
              div
                input.error(name='firstname', type='text', placeholder='Имя')
                span.err-message !
              div
                input(name='lastname', type='text', placeholder='Фамилия')
                span.err-message !
            .form-area.address
              .form-icon.icon-build
              label На какой адрес доставить конверт?
              .clearfix
              div
                input(name='city', type='text', placeholder='Город')
                span.err-message !
              .inp-group-3
                input.house(type='text', placeholder='Дом')
                input.quarter(type='text', placeholder='Квартира')
                input.index(type='text', placeholder='Индекс')
                .clearfix
            .form-area.sign-up
              .form-icon.icon-pencil
              label Зарегестрируйтесь в Printy
              .clearfix
              div
                input.error(type='email', name='email', placeholder='Email')
                span.err-message !
              div
                input(type='text', name='password', placeholder='Пароль')
                span.err-message !
            .error-message Заполните пожалуйста отмеченные поля
            input.button-order(type='submit', value='Получить подарок')

public/form.html
<!DOCTYPE html>
<html>
  <head>
    <title>Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Roman Toroshin (necronru@gmail.com)">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap core CSS-->
    <link href="/vendors/vendors.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/owerwride.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='/vendors/html5shiv.js')
    script(src='/vendors/respond.min.js')
    -->
  </head>
  <body>
    <div class="wrap">
      <header><a href="#" tabindex="-1" class="logotype"></a>
        <div class="header-gradient">
          <div class="container">
            <div class="back-button-box"><a href="#" tabindex="1" class="button-back header-button">Назад</a></div>
            <div class="vizzard-box">
              <div class="converts">
                <div class="convert-one"></div>
                <div class="convert-two"></div>
                <div class="convert-three"></div>
              </div>
              <div class="circles">
                <div class="circle-filled active left"></div>
                <div class="progress-line active left"><span style="width: 50%" class="progress"></span></div>
                <div class="circle"></div>
                <div class="progress-line right"><span class="progress"></span></div>
                <div class="circle-filled right"></div>
              </div>
              <div class="text">
                <p class="choose">Выберите фотографии</p>
                <p class="signature">Подпишите</p>
                <p class="complete">Почти закончили!</p>
              </div>
            </div>
            <div class="forward-button-box"><a href="#" tabindex="2" class="button-next header-button">Продолжить</a>
              <!-- <a class="button-progress-txt header-button" href="#" tabindex="2">Выбрано 5/10</a>-->
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="form-container">
            <form action="" method="POST">
              <div class="form-area form-user">
                <div class="form-icon icon-user"></div>
                <label>Как вас зовут?</label>
                <div class="clearfix"></div>
                <div>
                  <input name="firstname" type="text" placeholder="Имя" class="error"><span class="err-message">!</span>
                </div>
                <div>
                  <input name="lastname" type="text" placeholder="Фамилия"><span class="err-message">!</span>
                </div>
              </div>
              <div class="form-area address">
                <div class="form-icon icon-build"></div>
                <label>На какой адрес доставить конверт?</label>
                <div class="clearfix"></div>
                <div>
                  <input name="city" type="text" placeholder="Город"><span class="err-message">!</span>
                </div>
                <div class="inp-group-3">
                  <input type="text" placeholder="Дом" class="house">
                  <input type="text" placeholder="Квартира" class="quarter">
                  <input type="text" placeholder="Индекс" class="index">
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="form-area sign-up">
                <div class="form-icon icon-pencil"></div>
                <label>Зарегестрируйтесь в Printy</label>
                <div class="clearfix"></div>
                <div>
                  <input type="email" name="email" placeholder="Email" class="error"><span class="err-message">!</span>
                </div>
                <div>
                  <input type="text" name="password" placeholder="Пароль"><span class="err-message">!</span>
                </div>
              </div>
              <div class="error-message">Заполните пожалуйста отмеченные поля</div>
              <input type="submit" value="Получить подарок" class="button-order">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- scripts-->
    <script src="/vendors/vendors.min.js"></script>
    <!-- /scripts-->
  </body>
</html>
