public/mobile1.html
<!DOCTYPE html>
<html>
  <head>
    <title>Mobile page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Roman Toroshin (necronru@gmail.com)">
    <meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.5, minimum-scale=0.5">
    <!-- Bootstrap core CSS-->
    <link href="/vendors/vendors.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendors/vendors.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='/vendors/html5shiv.js')
    script(src='/vendors/respond.min.js')
    -->
  </head>
  <body>
    <div class="header">
      <div class="logo-box container hidden"><img src="/images/mobile/logo.png" alt="" class="logotype"></div>
      <div class="top-navbar">
        <div class="container"><a href="#" class="back-link pull-left"></a><span class="current-page-title pull-left">Мои фотографии</span><a href="#" class="forward-link pull-left">3/10</a>
          <!-- <a class="forward-link complete pull-left" href="#">Далее</a>-->
        </div>
      </div>
      <div class="social-panel closed container">
        <div class="links"><a href="#" class="icon-vk"></a><a href="#" class="icon-instagram"></a><a href="#" class="icon-phone"></a></div>
        <div class="drag-and-drop-box">
          <!-- Контейнер чучуть больше чем иконка (чтоб палец попадал)--><a href="#" class="drag-area"></a>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="photo-choose">
        <div class="photo checked">
          <div class="checked-box">
            <div class="controls"><span class="minus"></span><span class="quantity">5</span><span class="plus"></span></div>
          </div><img src="http://lorempixel.com/152/152/" alt="">
        </div>
        <div class="photo">
          <div class="checked-box">
            <div class="controls"><span class="minus"></span><span class="quantity">0</span><span class="plus"></span></div>
          </div><img src="http://lorempixel.com/152/152/" alt="">
        </div>
        <div class="photo">
          <div class="checked-box">
            <div class="controls"><span class="minus"></span><span class="quantity">0</span><span class="plus"></span></div>
          </div><img src="http://lorempixel.com/152/152/" alt="">
        </div>
        <div class="photo">
          <div class="checked-box">
            <div class="controls"><span class="minus"></span><span class="quantity">5</span><span class="plus"></span></div>
          </div><img src="http://lorempixel.com/152/152/" alt="">
        </div>
        <div class="photo">
          <div class="checked-box">
            <div class="controls"><span class="minus"></span><span class="quantity">5</span><span class="plus"></span></div>
          </div><img src="http://lorempixel.com/152/152/" alt="">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- scripts-->
    <script src="/vendors/vendors.min.js"></script>
    <script>
      $(".social-panel .drag-and-drop-box .drag-area").click(function() {
        $(this).parent().parent().toggleClass('closed');
        return false;
      })
    </script>
    <!-- /scripts-->
  </body>
</html>

app/templates/mobile1.jade
extends ./mobile.jade

block content
  .header
    .logo-box.container.hidden
      img.logotype(src='/images/mobile/logo.png', alt='')
    .top-navbar
      .container
        a.back-link.pull-left(href='#')
        span.current-page-title.pull-left Мои фотографии
        a.forward-link.pull-left(href='#') 3/10
        // <a class="forward-link complete pull-left" href="#">Далее</a>
    .social-panel.closed.container
      .links
        a.icon-vk(href='#')
        a.icon-instagram(href='#')
        a.icon-phone(href='#')
      .drag-and-drop-box
        // Контейнер чучуть больше чем иконка (чтоб палец попадал)
        a.drag-area(href='#')
        .line
        .line
        .line
  .content
    .photo-choose
      .photo.checked
        .checked-box
          .controls
            span.minus
            span.quantity 5
            span.plus
        img(src='http://lorempixel.com/152/152/', alt='')
      .photo
        .checked-box
          .controls
            span.minus
            span.quantity 0
            span.plus
        img(src='http://lorempixel.com/152/152/', alt='')
      .photo
        .checked-box
          .controls
            span.minus
            span.quantity 0
            span.plus
        img(src='http://lorempixel.com/152/152/', alt='')
      .photo
        .checked-box
          .controls
            span.minus
            span.quantity 5
            span.plus
        img(src='http://lorempixel.com/152/152/', alt='')
      .photo
        .checked-box
          .controls
            span.minus
            span.quantity 5
            span.plus
        img(src='http://lorempixel.com/152/152/', alt='')
      .clearfix
