app/templates/mobile.jade
extends ./layout.jade

block viewport
  meta(name='viewport', content='width=device-width, inital-scale=1.0, maximum-scale=1.5, minimum-scale=0.5')

block title
  title Mobile page

block stylesheet
  link(rel='stylesheet', href='/vendors/vendors.css')
  link(rel='stylesheet', href='/css/mobile.css')

block content
  .header
    .logo-box.container
      img.logotype(src='/images/mobile/logo.png', alt='')
    .social-panel.container
      .links
        a.icon-vk(href='#')
        a.icon-instagram(href='#')
        a.icon-phone(href='#')
      .drag-and-drop-box
        // Контейнер чучуть больше чем иконка (чтоб палец попадал)
        a.drag-area(href='#')
        .line
        .line
        .line
  .content
    .main-page-menu
      a(href='#') Мои фотографи
      a(href='#') Мои подписчики
      a(href='#') Любимые
      a(href='#') @Username #hashtag

block scripts
  // scripts
  script(src='/vendors/vendors.min.js')
  script.
    $(".social-panel .drag-and-drop-box .drag-area").click(function() {
      $(this).parent().parent().toggleClass('closed');
      return false;
    })
  // /scripts

public/mobile.html
<!DOCTYPE html>
<html>
  <head>
    <title>Mobile page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Roman Toroshin (necronru@gmail.com)">
    <meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.5, minimum-scale=0.5">
    <!-- Bootstrap core CSS-->
    <link href="/vendors/vendors.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendors/vendors.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='/vendors/html5shiv.js')
    script(src='/vendors/respond.min.js')
    -->
  </head>
  <body>
    <div class="header">
      <div class="logo-box container"><img src="/images/mobile/logo.png" alt="" class="logotype"></div>
      <div class="social-panel container">
        <div class="links"><a href="#" class="icon-vk"></a><a href="#" class="icon-instagram"></a><a href="#" class="icon-phone"></a></div>
        <div class="drag-and-drop-box">
          <!-- Контейнер чучуть больше чем иконка (чтоб палец попадал)--><a href="#" class="drag-area"></a>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="main-page-menu"><a href="#">Мои фотографи</a><a href="#">Мои подписчики</a><a href="#">Любимые</a><a href="#">@Username #hashtag</a></div>
    </div>
    <!-- scripts-->
    <script src="/vendors/vendors.min.js"></script>
    <script>
      $(".social-panel .drag-and-drop-box .drag-area").click(function() {
        $(this).parent().parent().toggleClass('closed');
        return false;
      })
    </script>
    <!-- /scripts-->
  </body>
</html>
