public/mobile2.html
<!DOCTYPE html>
<html>
  <head>
    <title>Mobile page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Roman Toroshin (necronru@gmail.com)">
    <meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.5, minimum-scale=0.5">
    <!-- Bootstrap core CSS-->
    <link href="/vendors/vendors.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendors/vendors.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='/vendors/html5shiv.js')
    script(src='/vendors/respond.min.js')
    -->
  </head>
  <body>
    <div class="header">
      <div class="logo-box container hidden"><img src="/images/mobile/logo.png" alt="" class="logotype"></div>
      <div class="top-navbar">
        <div class="container"><a href="#" class="back-link pull-left"></a><span class="current-page-title pull-left">Подпишите</span>
          <!-- <a class="forward-link pull-left" href="#">3/10</a>--><a href="#" class="forward-link complete pull-left">Далее</a>
        </div>
      </div>
      <div class="social-panel hidden closed container">
        <div class="links"><a href="#" class="icon-vk"></a><a href="#" class="icon-instagram"></a><a href="#" class="icon-phone"></a></div>
        <div class="drag-and-drop-box">
          <!-- Контейнер чучуть больше чем иконка (чтоб палец попадал)--><a href="#" class="drag-area"></a>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="bottom-panel">
        <div class="smile-panel"><img src="/images/smile.jpg"><img src="/images/smile.jpg"><img src="/images/smile.jpg"><img src="/images/smile.jpg"><img src="/images/smile.jpg"><img src="/images/smile.jpg"></div>
        <div class="panel-box"><a href="#"><img src="/images/XX.png"></a>
          <input type="text" name="asd" value=""><a href="#" style="background: #f9f9f9"><img src="/images/V.png"></a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="container photos-view">
        <div class="photo"><img src="http://lorempixel.com/227/227/" height="227" width="227" alt=""></div>
        <div class="photo"><img src="http://lorempixel.com/227/227/" height="227" width="227" alt=""></div>
        <div class="photo"><img src="http://lorempixel.com/227/227/" height="227" width="227" alt=""></div>
        <div class="photo"><img src="http://lorempixel.com/227/227/" height="227" width="227" alt=""></div>
        <div class="photo"><img src="http://lorempixel.com/227/227/" height="227" width="227" alt=""></div>
      </div>
    </div>
    <!-- scripts-->
    <script src="/vendors/vendors.min.js"></script>
    <script>
      $(".social-panel .drag-and-drop-box .drag-area").click(function() {
        $(this).parent().parent().toggleClass('closed');
        return false;
      })
    </script>
    <!-- /scripts-->
  </body>
</html>

app/templates/mobile2.jade
extends ./mobile.jade

block content
  .header
    .logo-box.container.hidden
      img.logotype(src='/images/mobile/logo.png', alt='')
    .top-navbar
      .container
        a.back-link.pull-left(href='#')
        span.current-page-title.pull-left Подпишите
        // <a class="forward-link pull-left" href="#">3/10</a>
        a.forward-link.complete.pull-left(href='#') Далее
    .social-panel.hidden.closed.container
      .links
        a.icon-vk(href='#')
        a.icon-instagram(href='#')
        a.icon-phone(href='#')
      .drag-and-drop-box
        // Контейнер чучуть больше чем иконка (чтоб палец попадал)
        a.drag-area(href='#')
        .line
        .line
        .line
  .content
    .bottom-panel
      .smile-panel
        img(src='/images/smile.jpg')
        img(src='/images/smile.jpg')
        img(src='/images/smile.jpg')
        img(src='/images/smile.jpg')
        img(src='/images/smile.jpg')
        img(src='/images/smile.jpg')
      .panel-box
        a(href='#')
          img(src='/images/XX.png')
        input(type='text', name='asd', value='')
        a(href='#', style='background: #f9f9f9')
          img(src='/images/V.png')
        .clearfix
    .container.photos-view
      .photo
        img(src='http://lorempixel.com/227/227/', height='227', width='227', alt='')
      .photo
        img(src='http://lorempixel.com/227/227/', height='227', width='227', alt='')
      .photo
        img(src='http://lorempixel.com/227/227/', height='227', width='227', alt='')
      .photo
        img(src='http://lorempixel.com/227/227/', height='227', width='227', alt='')
      .photo
        img(src='http://lorempixel.com/227/227/', height='227', width='227', alt='')
