app/templates/mobile3.jade
extends ./mobile.jade

block content
  .header
    .logo-box.container.hidden
      img.logotype(src='assets/images/mobile/logo.png', alt='')
    .top-navbar
      .container
        a.back-link.pull-left(href='#')
        span.current-page-title.pull-left Почти закончили!
        // <a class="forward-link pull-left" href="#">3/10</a>
        a.forward-link.complete.pull-left(href='#') Далее
    .social-panel.hidden.closed.container
      .links
        a.icon-vk(href='#')
        a.icon-instagram(href='#')
        a.icon-phone(href='#')
      .drag-and-drop-box
        // Контейнер чучуть больше чем иконка (чтоб палец попадал)
        a.drag-area(href='#')
        .line
        .line
        .line
  .content
    .container
      .form-box
        form(action='', method='post')
          .form-area
            label Как вас зовут?
            input(type='text', placeholder='Имя', tabindex='1')
            input(type='text', placeholder='Фамилия', tabindex='2')
          .form-area
            label Куда доставить?
            input(type='text', placeholder='Город', tabindex='3')
            input(type='text', placeholder='Улица', tabindex='4')
            input(type='text', placeholder='Дом/корпус', tabindex='5')
            .input-2
              input.pull-left(type='text', placeholder='Квартира', tabindex='6')
              input.pull-right(type='text', placeholder='Индекс', tabindex='7')
              .clearfix
          .form-area
            label Зарегестрируйтесь в Printy?
            input(type='text', placeholder='Email', tabindex='7')
            input(type='text', placeholder='Пароль', tabindex='8')
          .form-area
            input.send-btn(type='submit', value='Отправить', tabindex='9', onclick='return false')

public/mobile3.html
<!DOCTYPE html>
<html>
  <head>
    <title>Mobile page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Roman Toroshin (necronru@gmail.com)">
    <meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.5, minimum-scale=0.5">
    <!-- Bootstrap core CSS-->
    <link href="/vendors/vendors.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendors/vendors.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='/vendors/html5shiv.js')
    script(src='/vendors/respond.min.js')
    -->
  </head>
  <body>
    <div class="header">
      <div class="logo-box container hidden"><img src="assets/images/mobile/logo.png" alt="" class="logotype"></div>
      <div class="top-navbar">
        <div class="container"><a href="#" class="back-link pull-left"></a><span class="current-page-title pull-left">Почти закончили!</span>
          <!-- <a class="forward-link pull-left" href="#">3/10</a>--><a href="#" class="forward-link complete pull-left">Далее</a>
        </div>
      </div>
      <div class="social-panel hidden closed container">
        <div class="links"><a href="#" class="icon-vk"></a><a href="#" class="icon-instagram"></a><a href="#" class="icon-phone"></a></div>
        <div class="drag-and-drop-box">
          <!-- Контейнер чучуть больше чем иконка (чтоб палец попадал)--><a href="#" class="drag-area"></a>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="form-box">
          <form action="" method="post">
            <div class="form-area">
              <label>Как вас зовут?</label>
              <input type="text" placeholder="Имя" tabindex="1">
              <input type="text" placeholder="Фамилия" tabindex="2">
            </div>
            <div class="form-area">
              <label>Куда доставить?</label>
              <input type="text" placeholder="Город" tabindex="3">
              <input type="text" placeholder="Улица" tabindex="4">
              <input type="text" placeholder="Дом/корпус" tabindex="5">
              <div class="input-2">
                <input type="text" placeholder="Квартира" tabindex="6" class="pull-left">
                <input type="text" placeholder="Индекс" tabindex="7" class="pull-right">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="form-area">
              <label>Зарегестрируйтесь в Printy?</label>
              <input type="text" placeholder="Email" tabindex="7">
              <input type="text" placeholder="Пароль" tabindex="8">
            </div>
            <div class="form-area">
              <input type="submit" value="Отправить" tabindex="9" onclick="return false" class="send-btn">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- scripts-->
    <script src="/vendors/vendors.min.js"></script>
    <script>
      $(".social-panel .drag-and-drop-box .drag-area").click(function() {
        $(this).parent().parent().toggleClass('closed');
        return false;
      })
    </script>
    <!-- /scripts-->
  </body>
</html>
