app/templates/page2.jade
extends ./layout.jade
block title
  title Page 2

block content
    .wrap
      header
        a.logotype(href='#', tabindex='-1')
        .header-gradient
          .container
            .back-button-box
              a.button-back.header-button(href='#', tabindex='1') Назад
            .vizzard-box
              .converts
                .convert-one
                .convert-two
                .convert-three
              .circles
                .circle-filled.active.left
                .progress-line.active.left
                  span.progress(style='width: 50%')
                .circle
                .progress-line.right
                  span.progress
                .circle-filled.right
              .text
                p.choose Выберите фотографии
                p.signature Подпишите
                p.complete Почти закончили!
            .forward-button-box
              a.button-next.header-button(href='#', tabindex='2') Продолжить
              // <a class="button-progress-txt header-button" href="#" tabindex="2">Выбрано 5/10</a>
            .clearfix
      .content
        .container
          .left-menu-container
            .chosen-photo-block
              a.photo-container.checked(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container.checked(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              .clearfix
          .right-container
            .edit-photos-container
              .photo-item-box.active
                .photo-body
                  .controls
                    .slider-photo
                  .overlay-info
                    img(src='/images/resize.png', width='101', height='101', alt='')
                    p Увеличивайте и двигайте фотографию
                  img.photo(src='/images/photo-example-big.jpg', width='310', height='310', alt='photo')
                  input(type='text', name='', placeholder='What the font?!')
                .smiles-body
                  .current-smile
                    img(src='/images/smile.jpg', alt='smile')
                  .smiles
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
              .photo-item-box.open
                .photo-body
                  .controls
                    .slider-photo
                  .overlay-info
                    img(src='/images/resize.png', width='101', height='101', alt='')
                    p Увеличивайте и двигайте фотографию
                  img.photo(src='/images/photo-example-big.jpg', width='310', height='310', alt='photo')
                  input(type='text', name='', placeholder='What the font?!')
                .smiles-body
                  .current-smile
                    img(src='/images/X.jpg', alt='smile')
                  .smiles
                    p some text
              .photo-item-box
                .photo-body
                  .controls
                    .slider-photo
                  .overlay-info
                    img(src='/images/resize.png', width='101', height='101', alt='')
                    p Увеличивайте и двигайте фотографию
                  img.photo(src='/images/photo-example-big.jpg', width='310', height='310', alt='photo')
                  input(type='text', name='', placeholder='What the font?!')
                .smiles-body
                  .current-smile
                    img(src='/images/X.jpg', alt='smile')
                  .smiles
                    p some text
              .photo-item-box
                .photo-body
                  .controls
                    .slider-photo
                  .overlay-info
                    img(src='/images/resize.png', width='101', height='101', alt='')
                    p Увеличивайте и двигайте фотографию
                  img.photo(src='/images/photo-example-big.jpg', width='310', height='310', alt='photo')
                  input(type='text', name='', placeholder='What the font?!')
                .smiles-body
                  .current-smile
                    img(src='/images/X.jpg', alt='smile')
                  .smiles
                    p some text
              .photo-item-box
                .photo-body
                  .controls
                    .slider-photo
                  .overlay-info
                    img(src='/images/resize.png', width='101', height='101', alt='')
                    p Увеличивайте и двигайте фотографию
                  img.photo(src='/images/photo-example-big.jpg', width='310', height='310', alt='photo')
                  input(type='text', name='', placeholder='What the font?!')
                .smiles-body
                  .current-smile
                    img(src='/images/X.jpg', alt='smile')
                  .smiles
                    p some text
          .clearfix

block scripts
  // scripts
  script(src='/vendors/vendors.min.js')

  script.
    $(function() {
      $( ".slider-photo" ).slider({
        orientation: "vertical",
        range: "min",
        min: 0,
        max: 100,
        value: 0
      });
    });
  // /scripts

public/page2.html
<!DOCTYPE html>
<html>
  <head>
    <title>Page 2</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Roman Toroshin (necronru@gmail.com)">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap core CSS-->
    <link href="/vendors/vendors.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/owerwride.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='/vendors/html5shiv.js')
    script(src='/vendors/respond.min.js')
    -->
  </head>
  <body>
    <div class="wrap">
      <header><a href="#" tabindex="-1" class="logotype"></a>
        <div class="header-gradient">
          <div class="container">
            <div class="back-button-box"><a href="#" tabindex="1" class="button-back header-button">Назад</a></div>
            <div class="vizzard-box">
              <div class="converts">
                <div class="convert-one"></div>
                <div class="convert-two"></div>
                <div class="convert-three"></div>
              </div>
              <div class="circles">
                <div class="circle-filled active left"></div>
                <div class="progress-line active left"><span style="width: 50%" class="progress"></span></div>
                <div class="circle"></div>
                <div class="progress-line right"><span class="progress"></span></div>
                <div class="circle-filled right"></div>
              </div>
              <div class="text">
                <p class="choose">Выберите фотографии</p>
                <p class="signature">Подпишите</p>
                <p class="complete">Почти закончили!</p>
              </div>
            </div>
            <div class="forward-button-box"><a href="#" tabindex="2" class="button-next header-button">Продолжить</a>
              <!-- <a class="button-progress-txt header-button" href="#" tabindex="2">Выбрано 5/10</a>-->
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="left-menu-container">
            <div class="chosen-photo-block"><a href="#" class="photo-container checked">
                <div class="overlay-bg"><span class="icon-check"></span></div><img src="/images/photo-example-mini.jpg" width="68" height="65" alt="photo"></a><a href="#" class="photo-container checked">
                <div class="overlay-bg"><span class="icon-check"></span></div><img src="/images/photo-example-mini.jpg" width="68" height="65" alt="photo"></a><a href="#" class="photo-container">
                <div class="overlay-bg"><span class="icon-check"></span></div><img src="/images/photo-example-mini.jpg" width="68" height="65" alt="photo"></a><a href="#" class="photo-container">
                <div class="overlay-bg"><span class="icon-check"></span></div><img src="/images/photo-example-mini.jpg" width="68" height="65" alt="photo"></a><a href="#" class="photo-container">
                <div class="overlay-bg"><span class="icon-check"></span></div><img src="/images/photo-example-mini.jpg" width="68" height="65" alt="photo"></a><a href="#" class="photo-container">
                <div class="overlay-bg"><span class="icon-check"></span></div><img src="/images/photo-example-mini.jpg" width="68" height="65" alt="photo"></a><a href="#" class="photo-container">
                <div class="overlay-bg"><span class="icon-check"></span></div><img src="/images/photo-example-mini.jpg" width="68" height="65" alt="photo"></a>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="right-container">
            <div class="edit-photos-container">
              <div class="photo-item-box active">
                <div class="photo-body">
                  <div class="controls">
                    <div class="slider-photo"></div>
                  </div>
                  <div class="overlay-info"><img src="/images/resize.png" width="101" height="101" alt="">
                    <p>Увеличивайте и двигайте фотографию</p>
                  </div><img src="/images/photo-example-big.jpg" width="310" height="310" alt="photo" class="photo">
                  <input type="text" name="" placeholder="What the font?!">
                </div>
                <div class="smiles-body">
                  <div class="current-smile"><img src="/images/smile.jpg" alt="smile"></div>
                  <div class="smiles"><img src="/images/smile.jpg" width="32" height="26" alt="smile"><img src="/images/smile.jpg" width="32" height="26" alt="smile"><img src="/images/smile.jpg" width="32" height="26" alt="smile"><img src="/images/smile.jpg" width="32" height="26" alt="smile"><img src="/images/smile.jpg" width="32" height="26" alt="smile"><img src="/images/smile.jpg" width="32" height="26" alt="smile"></div>
                </div>
              </div>
              <div class="photo-item-box open">
                <div class="photo-body">
                  <div class="controls">
                    <div class="slider-photo"></div>
                  </div>
                  <div class="overlay-info"><img src="/images/resize.png" width="101" height="101" alt="">
                    <p>Увеличивайте и двигайте фотографию</p>
                  </div><img src="/images/photo-example-big.jpg" width="310" height="310" alt="photo" class="photo">
                  <input type="text" name="" placeholder="What the font?!">
                </div>
                <div class="smiles-body">
                  <div class="current-smile"><img src="/images/X.jpg" alt="smile"></div>
                  <div class="smiles">
                    <p>some text</p>
                  </div>
                </div>
              </div>
              <div class="photo-item-box">
                <div class="photo-body">
                  <div class="controls">
                    <div class="slider-photo"></div>
                  </div>
                  <div class="overlay-info"><img src="/images/resize.png" width="101" height="101" alt="">
                    <p>Увеличивайте и двигайте фотографию</p>
                  </div><img src="/images/photo-example-big.jpg" width="310" height="310" alt="photo" class="photo">
                  <input type="text" name="" placeholder="What the font?!">
                </div>
                <div class="smiles-body">
                  <div class="current-smile"><img src="/images/X.jpg" alt="smile"></div>
                  <div class="smiles">
                    <p>some text</p>
                  </div>
                </div>
              </div>
              <div class="photo-item-box">
                <div class="photo-body">
                  <div class="controls">
                    <div class="slider-photo"></div>
                  </div>
                  <div class="overlay-info"><img src="/images/resize.png" width="101" height="101" alt="">
                    <p>Увеличивайте и двигайте фотографию</p>
                  </div><img src="/images/photo-example-big.jpg" width="310" height="310" alt="photo" class="photo">
                  <input type="text" name="" placeholder="What the font?!">
                </div>
                <div class="smiles-body">
                  <div class="current-smile"><img src="/images/X.jpg" alt="smile"></div>
                  <div class="smiles">
                    <p>some text</p>
                  </div>
                </div>
              </div>
              <div class="photo-item-box">
                <div class="photo-body">
                  <div class="controls">
                    <div class="slider-photo"></div>
                  </div>
                  <div class="overlay-info"><img src="/images/resize.png" width="101" height="101" alt="">
                    <p>Увеличивайте и двигайте фотографию</p>
                  </div><img src="/images/photo-example-big.jpg" width="310" height="310" alt="photo" class="photo">
                  <input type="text" name="" placeholder="What the font?!">
                </div>
                <div class="smiles-body">
                  <div class="current-smile"><img src="/images/X.jpg" alt="smile"></div>
                  <div class="smiles">
                    <p>some text</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- scripts-->
    <script src="/vendors/vendors.min.js"></script>
    <script>
      $(function() {
        $( ".slider-photo" ).slider({
          orientation: "vertical",
          range: "min",
          min: 0,
          max: 100,
          value: 0
        });
      });
    </script>
    <!-- /scripts-->
  </body>
</html>
