public/page1.html
<!DOCTYPE html>
<html>
  <head>
    <title>Index page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Roman Toroshin (necronru@gmail.com)">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap core CSS-->
    <link href="/vendors/vendors.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/owerwride.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='/vendors/html5shiv.js')
    script(src='/vendors/respond.min.js')
    -->
  </head>
  <body>
    <div class="wrap">
      <header><a href="#" tabindex="-1" class="logotype"></a>
        <div class="header-gradient">
          <div class="container">
            <div class="back-button-box"><a href="#" tabindex="1" class="button-back header-button">Назад</a></div>
            <div class="vizzard-box">
              <div class="converts">
                <div class="convert-one"></div>
                <div class="convert-two"></div>
                <div class="convert-three"></div>
              </div>
              <div class="circles">
                <div class="circle-filled active left"></div>
                <div class="progress-line active left"><span class="progress"></span></div>
                <div class="circle"></div>
                <div class="progress-line right"><span class="progress"></span></div>
                <div class="circle-filled right"></div>
              </div>
              <div class="text">
                <p class="choose">Выберите фотографии</p>
                <p class="signature">Подпишите</p>
                <p class="complete">Почти закончили!</p>
              </div>
            </div>
            <div class="forward-button-box"><a href="#" tabindex="2" class="button-next header-button">Продолжить</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="left-menu-container">
            <ul class="left-menu">
              <li><a href="#" tabindex="3" class="vk-block active"><i class="cus-icon-vk"></i>Вконтакте</a></li>
              <!-- убрать open для закрытия меню-->
              <li class="open"><a href="#" tabindex="4" class="instagram-block active"><i class="cus-icon-instagram"></i>instagram</a>
                <ul class="submenu">
                  <li><a href="#" tabindex="5" class="my-photo-block active">Мои фотографии</a></li>
                  <li><a href="#" tabindex="6" class="gray-block active">Мои подписчики</a></li>
                  <li><a href="#" tabindex="7" class="gray-block">Любимые</a></li>
                  <li><a href="#" tabindex="8" class="gray-block">@Username #hashtag</a></li>
                </ul>
              </li>
              <li><a href="#" tabindex="9" class="faceboock-block active"><i class="cus-icon-facebook"></i>Facebook</a></li>
              <li><a href="#" tabindex="10" class="dropbox-block"><i class="cus-icon-dropbox"></i>Dropbox</a></li>
              <li><a href="#" tabindex="11" class="computer-block"><i class="cus-icon-computer"></i>Компютер</a></li>
            </ul>
          </div>
          <div class="right-container">
            <div class="photo-container">
              <div class="photo-item-box added"><span class="info">Выбрано 5/10</span>
                <div class="red-integer">15</div>
                <div class="selected-overlay"><i class="photo-plus"></i></div><img src="/images/photo-example.jpg" alt="">
              </div>
              <div class="photo-item-box"><span class="info">Выбрано 5/10</span>
                <div class="red-integer">15</div>
                <div class="selected-overlay"><i class="photo-plus"></i></div><img src="/images/photo-example.jpg" alt="">
              </div>
              <div class="photo-item-box"><span class="info">Выбрано 5/10</span>
                <div class="red-integer">15</div>
                <div class="selected-overlay"><i class="photo-plus"></i></div><img src="/images/photo-example.jpg" alt="">
              </div>
              <div class="photo-item-box"><span class="info">Выбрано 5/10</span>
                <div class="red-integer">15</div>
                <div class="selected-overlay"><i class="photo-plus"></i></div><img src="/images/photo-example.jpg" alt="">
              </div>
              <div class="photo-item-box"><span class="info">Выбрано 5/10</span>
                <div class="red-integer">15</div>
                <div class="selected-overlay"><i class="photo-plus"></i></div><img src="/images/photo-example.jpg" alt="">
              </div>
              <div class="photo-item-box"><span class="info">Выбрано 5/10</span>
                <div class="red-integer">15</div>
                <div class="selected-overlay"><i class="photo-plus"></i></div><img src="/images/photo-example.jpg" alt="">
              </div>
              <div class="photo-item-box"><span class="info">Выбрано 5/10</span>
                <div class="red-integer">15</div>
                <div class="selected-overlay"><i class="photo-plus"></i></div><img src="/images/photo-example.jpg" alt="">
              </div>
              <div class="photo-item-box"><span class="info">Выбрано 5/10</span>
                <div class="red-integer">15</div>
                <div class="selected-overlay"><i class="photo-plus"></i></div><img src="/images/photo-example.jpg" alt="">
              </div>
              <div class="photo-item-box"><span class="info">Выбрано 5/10</span>
                <div class="red-integer">15</div>
                <div class="selected-overlay"><i class="photo-plus"></i></div><img src="/images/photo-example.jpg" alt="">
              </div>
              <div class="photo-item-box"><span class="info">Выбрано 5/10</span>
                <div class="red-integer">15</div>
                <div class="selected-overlay"><i class="photo-plus"></i></div><img src="/images/photo-example.jpg" alt="">
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="load-photos">...</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- scripts-->
    <script src="/vendors/vendors.min.js"></script>
    <!-- /scripts-->
  </body>
</html>

app/templates/page1.jade
extends ./layout.jade

block title
  title Index page

block content
  .wrap
    header
      a.logotype(href='#', tabindex='-1')
      .header-gradient
        .container
          .back-button-box
            a.button-back.header-button(href='#', tabindex='1') Назад
          .vizzard-box
            .converts
              .convert-one
              .convert-two
              .convert-three
            .circles
              .circle-filled.active.left
              .progress-line.active.left
                span.progress
              .circle
              .progress-line.right
                span.progress
              .circle-filled.right
            .text
              p.choose Выберите фотографии
              p.signature Подпишите
              p.complete Почти закончили!
          .forward-button-box
            a.button-next.header-button(href='#', tabindex='2') Продолжить
            //- a.button-progress-txt.header-button(href="", tabindex="2") Выбрано 5/10
          .clearfix
    .content
      .container
        .left-menu-container
          ul.left-menu
            li
              a.vk-block.active(href='#', tabindex='3')
                i.cus-icon-vk
                | Вконтакте
            // убрать open для закрытия меню
            li.open
              a.instagram-block.active(href='#', tabindex='4')
                i.cus-icon-instagram
                | instagram
              ul.submenu
                li
                  a.my-photo-block.active(href='#', tabindex='5')
                    | Мои фотографии
                li
                  a.gray-block.active(href='#', tabindex='6')
                    | Мои подписчики
                li
                  a.gray-block(href='#', tabindex='7')
                    | Любимые
                li
                  a.gray-block(href='#', tabindex='8')
                    | @Username #hashtag
            li
              a.faceboock-block.active(href='#', tabindex='9')
                i.cus-icon-facebook
                | Facebook
            li
              a.dropbox-block(href='#', tabindex='10')
                i.cus-icon-dropbox
                | Dropbox
            li
              a.computer-block(href='#', tabindex='11')
                i.cus-icon-computer
                | Компютер
        .right-container
          .photo-container
            .photo-item-box.added
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
          .clearfix
          .load-photos ...
        .clearfix
